---
layout: page
title: "Newsletters"
---
<!Doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/IOCS_Newsletter_Repo/styles/styles.css"/>
    <link rel="shortcut icon" type="image/png" href="/IOCS_Newsletter_Repo/images/iocs_logo.png"/>
    <title>IOCS Newsletter Archives</title>
  </head>
  <body style="background-color:#eee;">
    <div class="navbar">
    <ul class="ul">
      <a href="/IOCS_Newsletter_Repo/"><li class="navbtn">2021 newsletters</li></a>
      <a href="/IOCS_Newsletter_Repo/all-newsletters/"><li class="navbtn">All newsletters</li></a>
      <a href="/IOCS_Newsletter_Repo/about/"><li class="navbtn">About</li></a>
      <a href="/IOCS_Newsletter_Repo/subscribe/"><li class="navbtn">Subscribe</li></a>
    </ul>
    </div>
    <script async src="https://cse.google.com/cse.js?cx=0411229a36587bd6e"></script>
    <div class="gcse-search"></div>
    {{content}}
  </body>
</html>
