a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.follow-icon-a:hover{
  text-decoration:none;
}
.follow-icon{
  width:25px;
  transition: width .5s;
}
.follow-icon:hover{
  width:40px;
}
.a-archives{
  display:block;
  padding:10px;
  background-color:orange;
  color:black;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  margin:0;
  text-align:center;
}
.a-archives:hover{
  background-color:darkorange;
  text-decoration:none;
}
