body{
        margin:0px;
        padding:0px;
}
.ul{
        display:block;
        width:100%;
        background-color: #6094b3;
        float:left;
        margin-left: 0;
}
.ul li{
        display:inline-block;
        background-color: #6094b3;
}
.navbtn{
        padding:20px 20px;
        margin: 0px;
        background-color: #6094b3;
        color:black;
        transition: 1s ease;
        display:inline-block;
        font-family:Verdana, Helvetica, sans-serif;
}
.navbtn:hover{
        background-color:#175b85;
        color:white;
}
.navbar{
        left:0;
        align:left;
        padding:0;
}
p{
        color:#ccc; 
        text-align:center; 
        font-family: Verdana, Helvetica, sans-serif;
        margin-top:20px;
}
h1, h2{
        font-family:"Trebuchet MS",Helvetica,sans-serif;
        font-size:30px;
}
h2{
        text-align:center;
}
a{
        color:dodgerblue;
        text-decoration:none;
}
li{
        list-style-type:none;
}
.post{
        text-decoration:none;
        color:black;
        background-color:white;
        padding:20px;
        border-radius:5px;
        border:none;
        width:70%;
        margin:10px auto;
        text-align:center;
        font-family:"Trebuchet MS",Helvetica,serif;
        font-size:20px;
        display:block;
        transition: width 1s;
}
.post:hover{
        width:85%;
        color:#ddd;
}
.back:hover{
        text-decoration:underline;
}

.link{
        font-family:Verdana, Helvetica, sans-serif;
        font-size: 15px;
        transition: 1s ease;
}
.link:hover,.link:active{
        text-decoration:underline;
        color:lightblue;
}
.content{
        color:black;
        text-align: justify;
}
